/* These settings help better handling of padding and margin inside the divs */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;      /* full height */
  margin: 0;
}
body, input, select, textarea {
  font-size: 1.6rem;                              /* = 16 pixels */
  font-family: Arial, Helvetica, sans-serif;
}
/* creating a css grid */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;              /* 1rem = 10pixel, because of font-size 62.5% */
  grid-template-columns: 1fr;
  height: 100%;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;                                /* from left side of browser */
}
a {                                               /* for all links */
  color: #ffffff;
  text-decoration: none;                          /* no link underline */
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}